@page "/"

<h1>Minesweeper</h1>

<p>
    Minesweeper is a single-player puzzle video game. The objective of the game is to clear a rectangular board containing
    hidden mines or bombs without detonating any of them, with help from clues about the number of neighboring mines in each
    cell.
</p>
<p>
    As in the classic version of Windows, the first click will never be a mine. It will clear the map and place numbers on
    the grid. The numbers reflect how many adjacent cells contain mines.
</p>

<h2>Gameplay</h2>

<hr />

<p>
    The goal of Minesweeper is to clear all of the cells on the board that don’t have mines, and flag all of the mines.
    Some cells are blank while others contain numbers (from 1 to 8), with each number being the number of mines adjacent
    to the uncovered cell.
</p>
<p>
    Left-click your mouse to reveal hidden cells. Use the numbers you find to figure out where the mines are:
    <ul>
        <li>Each number tells you how many of the surrounding 8 cells (up/down, left/right or diagonal) are mines.</li>
        <li>Once you've figured out where a mine is, right-click to place a flag there. </li>
    </ul>
</p>
<p>
    The game is won once all blank or numbered cells have been uncovered by the player without hitting a mine; any
    remaining mines not identified by flags are automatically flagged by the computer. However, in the event that a
    game is lost and the player had mistakenly clicked a mine cell, all the mines will be revealed.
</p>

